.article {
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
   
}

.header {
    font-size: 100px;
    color: white;
    text-align: center;
}