* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  .App {
    min-height: 100vh;
    width: 85vw;
    max-width: 1900px;
    margin: 0rem auto;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    min-height: 90px;
  }
  .navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
    font-weight: 600;
    vertical-align:middle;
  }
  .navbar-cart-icon {
    font-size: 1.15rem;
  }
  .navbar-user-icon {
    font-size: 1.15rem;
    color: #FABC1D;
    width: 24px;
    height: 24px;
  }
  .navbar-outline-icon {
    font-size: 1.5rem;
    transform: rotate(90deg);
  }
  article {
    min-height: fit-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: grid;
    place-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left:10%;
    padding-right: 10%;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

 